body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #333;
}

form {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label, input, button {
  display: block;
  width: 100%;
  margin-bottom: 10px;

}

input {
  padding-bottom: 7px;
  padding-top: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  justify-content: center;
  width: 42%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

select {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

option {
  padding: 10px;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #4CAF50;
  outline: none;
}

.clouds {
  text-align: center;
  font-size: 5em;
  margin: 20px 0
}


#thermometer {
  width: 50px;
  height: 300px;
  border: 3px solid #000;
  border-radius: 25px;
  position: relative;
  background: #e0e0e0;
}

#temperatureLevel {
  width: 100%;
  height: 0; /* initial hight*/
  position: absolute;
  bottom: 0;
  background-color: red; /* Color */
  border-radius: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

